:root {
  --color-primary-midnight-green: #014E56;
  --color-primary-light-coral: #f67e7e;
  --color-primary-white: #fff;
  --color-secondary-rapture-blue: #79c8c7;
  --color-secondary-police-blue: #2c6269;
  --color-secondary-deep-jungle-green: #004047;
  --color-secondary-sacramento: #012f34;
  --color-secondary-dark-green: #002529;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'Livvic', 'Arial', sans-serif;
  font-weight: 600;

}
.container {
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: var(--color-primary-midnight-green);
  padding-top: 77px;
}
.wrapper__header {
  display: flex;
  align-items: center;
}
.sitenav {
  margin-left: 80px;
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__list-item {
  margin-right: 30px;
  padding-bottom: 27px;
  padding-top: 32px;
}
.sitenav__list-item:hover {
  margin-right: 30px;
}
.sitenav__link {
  text-decoration: none;
  color: var(--color-primary-white);
}
.sitenav__link:hover {
  transition: 0.3s ease;
  color: var(--color-primary-light-coral);
}
.button {
  text-decoration: none;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  color: var(--color-primary-white);
  padding: 10px 32px;
}
.button:hover {
  transition: 0.3s ease;
  background-color: var(--color-primary-white);
  color: var(--color-secondary-dark-green);
}
.hero {
  position: relative;
  background-color: var(--color-primary-midnight-green);
  background-image: url(../img/bg-img-hero-leftt.svg), url(../img/bg-img-hero-right.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 700px) 70px , left calc(50% + 350px) bottom -100px;
}
.hero__wrapper {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 250px;
}
.hero__heading {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  max-width: 635px;
  font-size: 103px;
  line-height: 100px;
  font-weight: bold;
  color: var(--color-primary-white);
}
.hero__text-right {
  width: 635px;
}
.heading__red {
  color: var(--color-primary-light-coral);
}
.hero__text-left {
  width: 445px;
}
.hero__content {
  position: relative;
  padding: 0;
  padding-top: 78px;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-white);
}
.hero__content::before {
  content: "";
  position: absolute;
  top: -2px;
  display: block;
  height: 4px;
  width: 50px;
  background-color: var(--color-secondary-rapture-blue);
}

/* FEATURE */
.feature {
  background-color: var(--color-secondary-sacramento);
  padding-top: 198px;
  padding-bottom: 140px;
  background-image: url(../img/bg-img-hero-left.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 700px)bottom;
}
.feature__wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.feature__heading-wrapper {
  width: 445px;
}
.feature__heading {
  position: relative;
  margin: 0;
  font-weight: 700;
  color: var(--color-primary-white);
  font-size: 48px;
  line-height: 48px;
}
.feature__heading::before {
  content: "";
  position: absolute;
  top: -40px;
  display: block;
  height: 4px;
  width: 50px;
  background-color: var(--color-primary-light-coral);
}
.feature__list-wrapper {
  width: 445px;
}
.feature__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.feature__item {
  display: flex;
  align-items: center;
}
.feature__item::before {
  padding: 38px;
  margin-right: 23px;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../img/feature-icon-person.svg);
  content: "";
}
.setting::before {
  background-image: url(../img/feature-icon-setting.svg);
}
.chart::before {
  background-image: url(../img/feature-icon-chart.svg);
}
.feature__list-heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-light-coral);
}
.feature__list-text {
  color: var(--color-primary-white);
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}
/* REVIEW */
.review {
  background-color: var(--color-secondary-deep-jungle-green);
  padding-top: 140px;
  padding-bottom: 150px;
  background-image: url(../img/delivering-top-bg.svg), url(../img/delivering-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 650px) 0, left calc(50% + 630px) bottom -100px;
}
.review__heading {
  text-align: end;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-primary-white);
  margin-bottom: 92px;
}
.review__heading-blue {
  color: var(--color-secondary-rapture-blue);
}
.review__item {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  padding-top: 35px;
  width: 350px;
  margin-left: 30px;


}
.review__list {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  margin-left: -30px;
  list-style: none;
}
.review__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-image: url(../img/comas.svg);
  width: 67px;
  height: 56px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}
.review__item-text {
  font-size: 15px;
  line-height: 25px;
  color: var(--color-primary-white);
  margin-top: 0;
  margin-bottom: 24px;
}
.review__item-heading {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-secondary-rapture-blue);
}
.review__item-text-buttom {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 18px;
  color: var(--color-primary-white);
}
.red {
  background-color: var(--color-primary-light-coral);
}
.container {
}
.red__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 76px;

}
.red__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-secondary-sacramento);
}
.button {
}
.button-red {
  padding: 12px  33px 10px;
  color: var(--color-secondary-sacramento);
}
.button-red:hover {
  background-color: var(--color-secondary-sacramento);
  color: var(--color-primary-white);
}
.footer {
  background-color: var(--color-secondary-dark-green);
  padding-top: 48px;
  padding-bottom: 48px;
}
.site__footer {
  display: flex;
  align-items: center;
}
.site__footer-left {
  margin-right: 125px;
  margin-left: 0;
}
.site__footer-navigation {
  margin-top: 25px;
}
.sitenav__link-footer {
  margin-right: 40px;
}
.address {
  margin-right: auto;
}
.address__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
  color: var(--color-primary-white);
}
.number {
  text-decoration: none;
  opacity: 1.2;
}
.footer__text-left {
  margin-top: 51px;
}
.site__footer-list {
  margin-left: -16px;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-left: 137px;
}
.site__footer-item {
  margin-left: 16px;
}
.footer__link {
   fill: var(--color-primary-white);
}
.footer__link:hover {
  transition: 0.3s ease;
  fill: var(--color-primary-light-coral);
}
.about {
  background-color: var(--color-primary-midnight-green);
  background-image: url(../img/about-bg-img.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 700px) bottom;
}
.about__heading {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: var(--color-primary-white);
}
.about__text-wrapper {
  width: 730px;
}
.about__content {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 48px;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-white);
}
.about__content::before {
  content: "";
  position: absolute;
  top: -2px;
  display: block;
  height: 4px;
  width: 50px;
  background-color: var(--color-primary-light-coral);
}
.site-info {
  background-color: var(--color-secondary-deep-jungle-green);
}
.container {
}
.info {
  padding-top: 140px;
  padding-bottom: 140px;
}
.info__heading {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-primary-white);
}
.info__list {
  padding-left: 0;
  list-style: none;
}
.info__item {
  width: 350px;
  text-align: center;
  padding: 24px;
  background-color: var(--color-secondary-sacramento);
}
.info__list-heading {
  color: var(--color-secondary-rapture-blue);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

}
.info__list-text {
  margin-bottom: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-white)
}
.button {
  border-radius: 50%;
  text-align: center;
  border: none;
  width: 56px;
  height: 56px;
  background-color: var(--color-primary-light-coral);
}
.button:hover {
  background-color: var(--color-secondary-rapture-blue);
}
