:root {
  --color-primary-midnight-green: #014E56;
  --color-primary-light-coral: #f67e7e;
  --color-primary-white: #fff;
  --color-secondary-rapture-blue: #79c8c7;
  --color-secondary-police-blue: #2c6269;
  --color-secondary-deep-jungle-green: #004047;
  --color-secondary-sacramento: #012f34;
  --color-secondary-dark-green: #002529;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'Livvic', 'Arial', sans-serif;
  font-weight: 600;

}
.container {
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: var(--color-primary-midnight-green);
  padding-top: 77px;
}
.wrapper__header {
  display: flex;
  align-items: center;
}
.sitenav {
  margin-left: 80px;
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__list-item {
  margin-right: 30px;
  padding-bottom: 27px;
  padding-top: 32px;
}
.sitenav__list-item:hover {
  margin-right: 30px;
}
.sitenav__link {
  text-decoration: none;
  color: var(--color-primary-white);
}
.sitenav__link:hover {
  color: var(--color-primary-light-coral);
}
.button {
  text-decoration: none;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 24px;
  color: var(--color-primary-white);
  padding: 10px 32px;
}
.button:hover {
  background-color: var(--color-primary-white);
  color: var(--color-secondary-dark-green);
}
.hero {
  position: relative;
  background-color: var(--color-primary-midnight-green);
}
.hero__wrapper {
  display: flex;
  align-items: center;
  padding-top: 129px;
  padding-bottom: 250px;
}
.hero__heading {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  max-width: 635px;
  font-size: 103px;
  line-height: 100px;
  font-weight: bold;
  color: var(--color-primary-white);
}
.hero__text-right {
  width: 635px;
}
.heading__red {
  color: var(--color-primary-light-coral);
}
.hero__heading::after {
  background-image: url(../img/bg-img-hero-left.svg);
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__text-left {
  width: 445px;
}
.hero__content {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-white);
}
.hero__content::after {
  content: "";
  height: 4px;
  border-bottom: 4px solid
  #79C8C7;
  width: 50px;
}

/* FEATURE */
.feature {

  background-color: var(--color-secondary-sacramento);
  padding-top: 198px;
  padding-bottom: 140px;
}
.feature__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature__heading-wrapper {
  width: 445px;
}
.feature__herding {
  margin: 0;
  font-weight: 700;
  color: var(--color-primary-white);
  font-size: 48px;
  line-height: 48px;
}
.feature__list-wrapper {
  width: 445px;
}
.feature__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.feature__item {
  display: flex;
  align-items: center;
}
.feature__item::before {
  padding: 38px;
  margin-right: 23px;
  background-repeat: no-repeat;
  display: block;
  background-image: url(../img/feature-icon-person.svg);
  content: "";
}
.setting::before {
  background-image: url(../img/feature-icon-setting.svg);
}
.chart::before {
  background-image: url(../img/feature-icon-chart.svg);
}
.feature__list-heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-light-coral);
}
.feature__list-text {
  color: var(--color-primary-white);
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}
/* REVIEW */
.review {
  background-color: var(--color-secondary-deep-jungle-green);
  padding-top: 140px;
  padding-bottom: 150px;
}
.review__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--color-primary-white);
  margin-bottom: 92px;
}
.review__heading-blue {
  color: var(--color-secondary-rapture-blue);
}
.review__item {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  padding-top: 35px;
  width: 350px;
  margin-left: 30px;


}
.review__list {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  margin-left: -30px;
  list-style: none;
}
.review__item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-image: url(../img/comas.svg);
  width: 67px;
  height: 56px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}
.review__item-text {
  font-size: 15px;
  line-height: 25px;
  color: var(--color-primary-white);
  margin-top: 0;
  margin-bottom: 24px;
}
.review__item-heading {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-secondary-rapture-blue);
}
.review__item-text-buttom {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 18px;
  color: var(--color-primary-white);
}